.todo_item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.todo_item.checked label {
  /* 글씨에 밑줄 긋기 */
  text-decoration: line-through;
}
.todo_item label {
  flex-grow: 1;
}
.todo_item .remove_btn {
  height: 30px;
  padding: 0 10px;
  color: var(--point-color1);
  border: 1px solid var(--point-color1);
  border-radius: 4px;
  background: none;
}
